<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @counter.team %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @counter.goals %>
</p>

<%= link_to 'Edit', edit_counter_path(@counter) %> |
<%= link_to 'Back', counters_path %>
